.filter_wrapper {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99999;
}
.filter_overlay {
	flex: 1;
}
.panel {
	width: 95%;
	max-width: 400px;
	height: 100vh;
	background: var(--color-dark);
	border-left: 3px solid #FFFFFF;
	backdrop-filter: blur(25px);
	position: relative;
	color: white;
	padding: 3rem 1.5rem;
	overflow-y: auto;
	overflow-x: hidden;
}
.panel h2 {
	margin-bottom: 1rem;
}
.panel h3 {
	margin-bottom: 0.5rem;
}

.custom_element {
	display: flex;
	gap: 10px;
	justify-content: flex-start;
	align-items: center;
	margin: 0 0 10px 10px;
	cursor: pointer;
}
.custom_element  p {
	padding: 0;
	margin: 0;
}
.checkbox_outer {
	width: 25px;
	height: 25px;
	border: 2px solid white;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.checkbox_inner {
	width: 15px;
	height: 15px;
	background-color: white;
	border-radius: 2px;
}
.radio_outer {
	width: 25px;
	height: 25px;
	border: 2px solid white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.radio_inner {
	width: 15px;
	height: 15px;
	background-color: white;
	border-radius: 50%;
}