.mark_button {
	display: flex;
	min-width: 210px;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	width: fit-content;
	background-color: var(--color-mid);
	text-align: left;
	padding-inline: 1rem;
}
.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}
.button_group {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}
.episode_button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	width: fit-content;
	background-color: var(--color-mid);
	text-align: left;
	padding-inline: 1rem;
}
.video {
	max-height: 90vh;
	width: 100%;
	max-width: 1024px;
	margin: 1rem auto;
	display: block;
	border-radius: 5px;

}
.episode_button:disabled {
	background-color: var(--color-dark);
	cursor: not-allowed;
}