.navbar {
	padding: 1rem 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9999 !important;
	background: transparent;
	position: relative;
}
/* .navbar_remove_shadow {
	width: 25px;
	position: absolute;
	left: 1px;
	top: 0;
	z-index: 9999999999 !important;
	background-color: white;
	box-shadow: none !important;
} */

.navbar_left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	cursor: pointer;
}

.navbar_left span {
	font-size: 24px;
	text-align: left;
}

.navbar_right {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}


@media screen and (max-width: 500px) {
	.navbar {
		padding: 1rem;
	}
}