
:root {
	--color-bg: #37306B;
	--color-dark: #66347F;
	--color-light: #D27685;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-x: hidden;
	min-height: 100vh;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

#__next {
	width: 100%;
	min-height: 100vh;
}
.overlay {
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(25px);
}